# CA1 Introduction to python

## Q1

In [2]:
n1=float(input("Enter first float number : "))
n2=float(input("Enter second float number : "))
n3=float(input("Enter third float number : "))

print("Sum of",n1,",",n2,"and",n3,"is :",n1+n2+n3)
print("Average of",n1,",",n2,"and",n3,"is :",(n1+n2+n3)/3)

Enter first float number : 12.1
Enter second float number : 13.4
Enter third float number : 19.7
Sum of 12.1 , 13.4 and 19.7 is : 45.2
Average of 12.1 , 13.4 and 19.7 is : 15.066666666666668

## Q2

In [7]:
import math
r=float(input("Enter radius of sphere : "))
vol=(4/3)*(math.pi)*(r**3)
print("Volume of sphere : ",vol)

Enter radius of sphere : 4.7
Volume of sphere :  434.89276543153744

## Q3

In [6]:
import math
r=float(input("Enter radius of circle : "))
area=math.pi*r**2
print("Area of circle : ",area)

Enter radius of circle : 6.2
Area of circle :  120.76282160399167

## Q4

In [8]:
p=float(input("Enter principle amount : "))
r=float(input("Enter rate of interest : "))
t=float(input("Enter time in years : "))

si=(p*r*t)/100

print("Simple interest : ",si)

Enter principle amount : 2000
Enter rate of interest : 2
Enter time in years : 4
Simple interest :  160.0

## Q5

In [9]:
a=float(input("Enter first number : "))
b=float(input("Enter second number : "))
print("Before swapping : ",a,b)

a=a+b
b=a-b
a=a-b

print("After swapping : ",a,b)

Enter first number : 19.2
Enter second number : 46
Before swapping :  19.2 46.0
After swapping :  46.0 19.200000000000003

## Q6

In [11]:
c=float(input("Enter temperature in C : "))
f=9*c/5+32
print("Temperature in F : ",f)

Enter temperature in C : 38
Temperature in F :  100.4

## Q7

In [14]:
n=int(input("Enter number of days : "))
ny=n//365
n=n%365
nm=n//30
n=n%30
nw=n//7
n=n%7
print(ny,"years",nm,"months",nw,"weeks",n,"days")

Enter number of days : 1203
3 years 3 months 2 weeks 4 days

## Q8

In [15]:
m1=float(input("Enter mass of body 1 : "))
m2=float(input("Enter mass of body 2 : "))
r=float(input("Enter distance between the two bodies : "))

f=(6.67*10**-11)*((m1*m2)/r**2)

print("Gravitational force between th two bodies : ",f)

Enter mass of body 1 : 12
Enter mass of body 2 : 14
Enter distance between the two bodies : 32
Gravitational force between th two bodies :  1.094296875e-11

## Q9

In [16]:
n=float(input("Enter a number : "))
if n%2==0:
    print("Entered number is even")
else:
    print("Entered number is odd")

Enter a number : 37
Entered number is odd

## Q10

In [17]:
n=int(input("Enter a number : "))

if n>15:
    print("Output : ",2*(n-15))
elif n<15:
    print("Output : ",4*(15-n))
else:
    print("Output : ",0)

Enter a number : 13
Output :  8

## Q11

In [20]:
a ,b ,c=input("Enter 3 numbers : ").split()

if a>b and a>c:
    l=a
elif b>a and b>c:
    l=b
else:
    l=c

print("Largest : ",l)

Enter 3 numbers : 72 14 57
Largest :  72

## Q12

In [22]:
s1,s2,s3=input("Enter 3 sides of the triangle : ").split()

if s1==s2==s3 :
    print("Equilateral triangle")
elif s1==s2 or s2==s3 or s1==s3:
    print("Isosceles triangle")
else:
    print("Scalene triangle")

Enter 3 sides of the triangle : 10 7 10
Isosceles triangle

## Q13

In [23]:
y=int(input("Enter year : "))

if (y%4==0 and y%100!=0) or (y%400==0):
    print("leap year")
else:
    print("not a leap year")

Enter year : 2012
leap year

## Q14

In [28]:
a=float(input("Enter marks of first subject : "))
b=float(input("Enter marks of second subject : "))
c=float(input("Enter marks of third subject : "))
d=float(input("Enter marks of fourth subject : "))

s=(a+b+c+d)
avg=float(s/4)
print("Average : ",avg)
if avg>=75: 
    grd="A"
elif avg>=60:
    grd="B"
elif avg>=40:
    grd="C"
else:
    grd="D"

print("Grade : ",grd)

Enter marks of first subject : 96
Enter marks of second subject : 84
Enter marks of third subject : 77
Enter marks of fourth subject : 73
Average :  82.5
Grade :  A

## Q15

In [29]:
a=float(input("Enter first number : "))
b=float(input("Enter second number : "))
c=input("Enter operator : ")
if c=='+':
    print(a+b)
elif c=='-':
    print(a-b)
elif c=='*':
    print(a*b)
elif c=='/':
    if a>b:
        print(a/b)
    else:
        print(b/a)
elif c=='%':
    print(a%b)
else:
    print("Invalid operator")

Enter first number : 12.5
Enter second number : 13.2
Enter operator : +
25.7

## Q16

In [35]:
import math

a = float(input("Enter coefficient a: "))
b = float(input("Enter coefficient b: "))
c = float(input("Enter coefficient c: "))

if a == 0:
    print("Coefficient 'a' cannot be zero in a quadratic equation.")
else:
    discriminant = (b ** 2) - (4 * a * c)
    
    root1 = (-b - math.sqrt(discriminant)) / (2 * a)
    root2 = (-b + math.sqrt(discriminant)) / (2 * a)
    
    print("The roots of the quadratic equation are: ",root1, "and",root2)

Enter coefficient a: 2
Enter coefficient b: 3
Enter coefficient c: -2
The roots of the quadratic equation are:  -2.0 and 0.5

## Q17

In [38]:
a = int(input("Enter a number : "))
for i in range (1,a+1):
    print(i)

Enter a number : 10
1
2
3
4
5
6
7
8
9
10

## Q18

In [39]:
a = int(input("Enter a number upto which sum should be calculated : "))
s=0
for i in range (1,a+1):
    s=s+i
print("Sum : ",s)

Enter a number upto which sum should be calculated : 15
Sum :  120

## Q19

In [46]:
n=int(input("Enter the number whose sum of digits is to be calculated : "))
s=0
while n>0:
    r=n%10
    s=s+r
    n=n//10
print("Sum of digits of is ",s)

Enter the number whose sum of digits is to be calculated : 256
Sum of digits of is  13

## Q20

In [48]:
n=int(input("Enter a number : "))
print("Factors : ")
for i in range (1,n//2+1):
    if(n%i==0):
        print(i)

Enter a number : 12
Factors :
1
2
3
4
6

## Q21

In [50]:
n=int(input("Enter a number : "))
rev=0
while n>0:
    rem=n%10
    rev=rev*10+rem
    n=n//10
print("Reversed number : ",rev)

Enter a number : 198
Reversed number :  891

## Q22

In [55]:
n=int(input("Enter a number : "))
f=1
for i in range (1,n+1):
    f=f*i
print("Factorial of",n,"is :",f)

Enter a number : 6
Factorial of 6 is : 720

## Q23

In [60]:
n=int(input("Enter a number : "))
rev=0
num=n
while n>0:
    rem=n%10
    rev=rev*10+rem
    n=n//10
if rev==num:
    print("Number is palnidrome")
else:
    print("Number is not palnidrome")

Enter a number : 757
Number is palnidrome

## Q24

In [135]:
n=int(input("Enter a number : "))
c=0
for i in range (2,n//2+1):
    if(n%i==0):
        c+=1
if n==0:
    print("Zero is neither prime nor composite")
elif c>0 or n<2:
    print("Number is not a Prime number")
else:
    print("Number is a Prime number")

Enter a number : 47
Number is a Prime number

## Q25

In [72]:
n=int(input("Enter a number : "))
s=0
num=n
while n>0:
    r=n%10
    s=s+r**3
    n=n//10
if s==num:
    print("Number is an Armstrong number ")
else:
    print("Number is not an Armstrong number ")

Enter a number : 153
Number is an Armstrong number

## Q26

In [79]:
n=int(input("Enter a number : "))
a=0
b=1
print(a,b,end=' ')
for i in range(1,n-1):
    c=a+b
    a=b
    b=c    
    print(c,end=' ')

Enter a number : 5
0 1 1 2 3

## Q27

In [80]:
n=int(input("Enter a number : "))
for i in range (1,11):
    print(n,"*",i,"=",n*i)

Enter a number : 5
5 * 1 = 5
5 * 2 = 10
5 * 3 = 15
5 * 4 = 20
5 * 5 = 25
5 * 6 = 30
5 * 7 = 35
5 * 8 = 40
5 * 9 = 45
5 * 10 = 50

## Q28

In [83]:
l=[]
n=int(input("Enter the number of elements to be in the list :"))
for i in range (0,n):
    e=int(input("Enter element :"))
    l.append(e)
print("Elements in the list : ",l)

Enter the number of elements to be in the list :5
Enter element :12
Enter element :54
Enter element :23
Enter element :55
Enter element :78
Elements in the list :  [12, 54, 23, 55, 78]

## Q29

In [91]:
l=[]
n=int(input("Enter the number of elements to be in the list :"))
for i in range (0,n):
    e=int(input("Enter element :"))
    l.append(e)
print("Average : ",sum(l)/len(l))

Enter the number of elements to be in the list :4
Enter element :12
Enter element :13
Enter element :9
Enter element :26
Average :  15.0

## Q30

In [92]:
l=[]
n=int(input("Enter the number of elements to be in the list :"))
for i in range (0,n):
    e=int(input("Enter element :"))
    l.append(e)
print("Largest element : ",max(l))

Enter the number of elements to be in the list :5
Enter element :32
Enter element :19
Enter element :24
Enter element :56
Enter element :12
Largest element :  56

## Q31

In [103]:
l=[]
n=int(input("Enter the number of elements to be in the list :"))
for i in range (0,n):
    e=int(input("Enter element :"))
    l.append(e)
sr=int(input("Enter search element :"))
for i in range (0,len(l)):
    if sr==l[i]:
        f=0
if f==0:
    print("Element found")
else:
    print("Element not found")

Enter the number of elements to be in the list :3
Enter element :1
Enter element :5
Enter element :9
Enter search element :9
Element found

## Q32

In [112]:
l=[]
n=int(input("Enter the number of sentences you want to enter :"))
for i in range (0,n):
    e=input()
    e=e.upper()
    l.append(e)
for i in range(0,len(l)):
    print(l[i])

Enter the number of sentences you want to enter :2
hello world
practice makes perfect
HELLO WORLD
PRACTICE MAKES PERFECT

## Q33

In [145]:
n=input("Enter the comma separated numbers : ").split(',')
l=list(n)
t=tuple(n)
print(l)
print(t)

Enter the comma separated numbers : 34,67,55,33,12,98
['34', '67', '55', '33', '12', '98']
('34', '67', '55', '33', '12', '98')

## Q34

In [164]:
amt=0
l=[]
n=int(input("Enter the number of transactions you want to enter :"))
for i in range (0,n):
    e=input().split(' ')
    l.append(e)
    if l[i][0]=="D":
        amt=amt+int(l[i][1])
    elif l[i][0]=='W':
        amt=amt-int(l[i][1])
print("Amount :",amt)

Enter the number of transactions you want to enter :4
D 300
D 300
W 200
D 100
Amount : 500